/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: rgb(94, 234, 234);
  --vp-c-brand-light: rgb(87, 204, 204);
  /*--vp-c-brand-lighter: #9499ff;*/
  /*--vp-c-brand-lightest: #bcc0ff;*/
  --vp-c-brand-dark: rgb(26, 135, 135);
  /*--vp-c-brand-darker: #454ce1;*/
  /*--vp-c-brand-dimm: rgba(100, 108, 255, 0.08);*/
  --primary-bg-color: -webkit-linear-gradient(120deg, rgb(94, 234, 234) 30%, rgb(252, 254, 138));
  --primary-font-color: #5d5d5d;
  --primary-font-hover-color: #333333;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  /*--vp-button-brand-text: var(--vp-c-white);*/
  --vp-button-brand-text: var(--primary-font-color);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-bg: rgb(65, 176, 176);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--primary-font-hover-color);
  /*--vp-button-brand-hover-text: var(--vp-c-white);*/
  /*--vp-button-brand-hover-bg: var(--vp-c-brand-light);*/
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    rgb(94, 234, 234) 30%,
    rgb(252, 254, 138)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(94, 234, 234) 50%,
    rgb(252, 254, 138) 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
